.about-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10rem 0;
  padding-right: 7.56rem;
}

.about-desc {
  max-width: 40.12rem;
  padding-left: 6rem;
}

.about-desc h2 {
  font-size: 2.25rem;
  color: #0f241d;
  font-weight: 700;
}

.about-desc p {
  padding-top: 1.5rem;
  line-height: 24px;
  color: #767676;
}

.backBox {
  position: relative;
  background-color: #ccf4e6;
  max-width: 36.31rem;
  height: 25.31rem;
  left: -12.62rem;
}

.backBox img {
  max-width: 38.56rem;
  height: 25.75rem;
  position: relative;
  top: 2.12rem;
  left: 9.87rem;
}
