.footer-container {
  padding: 1rem 9rem;
  margin-top: 0.5rem;
  text-align: center;
}

footer {
  background-color: #69b99d;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: left;
  line-height: 28px;
  color: #f9f9f9;
}

.footer-desc > img {
  width: 170px;
}

.footer-desc {
  font-size: 14px;
}

.footer-social ul {
  display: flex;
  align-items: center;

  list-style: none;
}

.footer-social ul li {
  padding-left: 2rem;
  cursor: pointer;
}
